<p id="notice"><%= notice %></p>

<h1>Wagons</h1>

<table>
  <tr>
    <th>Тип</th>
    <th>Нижних мест</th>
    <th>Верхних мест</th>
    <th>Нижних боковых мест</th>
    <th>Верхних боковых мест</th>
    <th>Сидячих мест</th>
  </tr>
  <%= render partial: "wagons/wagon", collection: @wagons %>
</table>

<br>

<%= link_to 'New wagon', new_wagon_path %>
