<p>Привет, <%= @user.name%></p>
<p>Ты купил билет на поезд, следующий по маршруту: <%= @ticket.route_name %></p>
<p>Посмотреть билет ты можешь <%= link_to "здесь", @ticket %></p>

<p>Все свои билеты ты можешь увидеть <%= link_to "здесь", tickets_url %></p>