<p>Привет, <%= @user.name%></p>
<p>Похоже, ты передумал ехать и отменил билет № <%= @ticket.number %></p>
<p>Если ты передумаешь обратно или решишь уехать куда-нибудь еще, то велкам к нам <%= link_to "снова", root_url %></p>

<p>Все свои билеты ты можешь увидеть <%= link_to "здесь", tickets_url %></p>